.header {
  @media (max-width: 800px) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: $whiteColor;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__top {
    flex: 0 1 48px;
  }

  &__bottom {
    flex: 0 1 178px;

    @media (max-width: 800px) {
      flex: 0 1 auto;
    }
  }
}

.top-header {
  background: #dfdede;

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 15px;
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
  }

  &__location-text {
    color: $grayColor;
  }

  &__location-city {
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.bottom-header {
  &__container {
    font-size: 13px;
  }

  &__body {
    display: grid;
    grid-template: 1fr / minmax(auto, 33.3333%) minmax(auto, 710px) minmax(auto, 200px);
    align-items: center;
    gap: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;

    @media (max-width: 991.98px) {
      grid-template: 1fr / auto 1fr minmax(auto, 200px);
    }

    @media (max-width: 800px) {
      grid-template: 1fr / auto 1fr auto;
      padding: 10px 0;
      border-bottom: none;
    }
  }

  &__logo {
    grid-column: 1/2;
  }

  &__contacts {
    grid-column: 2/3;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    align-items: start;
    @include respValue('gap', 60, 20, 1);

    @media (max-width: 991.98px) {
      grid-template: 1fr / repeat(2, 1fr);
      justify-items: end;
      gap: 15px;
    }

    @media (max-width: 600px) {
      grid-template: 1fr / repeat(2, auto);
      align-items: center;
    }

    @media (max-width: 520px) {
      grid-template: 1fr / auto;
    }
  }

  &__location,
  &__email,
  &__call {
    display: grid;
    grid-template: 1fr / auto 1fr;
    align-items: start;
    gap: 8px;

    .icon-location,
    .icon-email,
    .icon-call {
      align-items: start;
      color: $orangeColor;
      font-size: 30px;
    }
  }

  &__location {
    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &__location-text {
    color: $grayColor;
  }

  &__email {
    align-items: center;
    transform: translateY(-5px);

    @media (max-width: 600px) {
      transform: translateY(0);
    }

    @media (max-width: 520px) {
      display: none;
    }
  }

  &__email-text {
    font-weight: 600;
    @include respValue('font-size', 15, 13, 1);

    &:hover {
      text-decoration: underline;
    }
  }

  &__call {
    @media (max-width: 600px) {
      align-items: center;
    }
  }

  &__call-text {
    display: grid;
    gap: 6px;
  }

  &__call-number {
    font-weight: 600;
    @include respValue('font-size', 15, 13, 1);

    &:hover {
      text-decoration: underline;
    }
  }

  &__call-time {
    color: $grayColor;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__btn {
    grid-column: 3/4;

    @media (max-width: 800px) {
      display: none;
    }
  }
}

.menu {
  padding: 5px 0;
  transition: all 0.1s linear;

  .menu__item_logo-dn,
  .menu__item_btn-dn {
    display: none;

    &._active {
      display: block;
    }
  }

  @media (max-width: 800px) {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #dfdede;
    padding: 50px 0 0 0;
    overflow: auto;
    transition: all 0.2s linear;

    &._active {
      top: 0;
    }
  }

  &.menu-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 20px;
    background: $whiteColor;

    .menu__item_logo-dn {
      display: block;
    }

    .search-box {
      margin: 0 0 0 25px;

      &.active {
        max-width: 150px;
      }

      &._active {
        margin: 0;

        &.active {
          max-width: 200px;
        }
      }
    }

    .cancel-btn {
      &.active {
        right: 155px;
      }
    }

    @media (max-width: 800px) {
      top: -100%;

      &._active {
        height: 100%;
        top: 0;
        left: 0;
        background: #dfdede;
        padding: 50px 0 0 0;
        overflow: auto;
        transition: all 0.2s linear;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;

    &._active {
      flex-direction: column;
      align-items: stretch;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      padding: 15px;
      gap: 30px;
    }
  }

  &__item {
    position: relative;
    padding: 0 5px;

    .close-link {
      &._active {
        font-size: 24px;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;

    &.active {
      .menu__button-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__button-arrow {
    transition: all 0.2s linear;
  }

  &__links {
    display: none;
    position: absolute;
    width: 150px;
    top: 20px;
    left: 0;
    background: #dfdede;
    border-radius: 2px;
    padding: 5px;

    > *:not(:last-child) {
      margin: 0 0 10px 0;
    }

    &._active {
      position: relative;
      top: 10px;
      background: $whiteColor;
    }
  }

  &__sub-link {
    display: block;
    font-size: 14px;

    &._active {
      font-size: 18px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 15px;
  }

  &__button {
    &._active {
      font-size: 24px;
    }
  }
}

.logo {
  display: block;
  max-width: 80px;

  img {
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: 991.98px) {
    max-width: 60px;
  }

  @media (max-width: 425px) {
    max-width: 40px;
  }
}

.burger {
  display: none;

  @media (max-width: 800px) {
    grid-column: 3/4;
    justify-self: end;
    display: block;
    width: 30px;
    height: 20px;
    background: transparent;
    transition: all 0.2s linear;
    overflow: hidden;
    position: relative;
    z-index: 3;

    span {
      position: absolute;
      width: 100%;
      height: 1.6px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: $blackColor;
      transition: all 0.2s linear;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1.6px;
      background: $blackColor;
      transition: all 0.2s linear;
    }

    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }

    &._active {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(45deg);
        top: 9px;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }
  }
}

.search-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  input {
    width: 100%;
    height: 100%;
    background: #dfdede;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 5px 30px 5px 5px;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &._active {
    input {
      opacity: 1;
      visibility: visible;
      background: $whiteColor;
    }
  }

  .search-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 3;

    &.active {
      width: 25px;
      height: 25px;
      transform: translateY(-50%) rotate(360deg);
      font-size: 20px;
    }
  }

  .cancel-btn {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;

    &.active {
      right: 180px;
      transform: translateY(-50%) rotate(360deg);
      opacity: 1;
      visibility: visible;
    }

    &._active {
      display: none;
    }
  }

  &.active {
    max-width: 180px;
    width: 100%;
  }

  &._active {
    max-width: 180px;
    width: 100%;
  }
}
