.header {
  // position: absolute;
  // width: 100%;
  // top: 0;
  // left: 0;
  // z-index: 100;

  &__body {
    display: grid;
    grid-template: minmax(auto, 48px) minmax(auto, 178px) / 1fr;
  }

  &__top {
  }

  &__bottom {
  }
}

.top-header {
  background: #dfdede;

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 15px;
  }

  &__icon {
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
  }

  &__location-text {
    color: $grayColor;
  }

  &__location-city {
    font-weight: 600;
    text-decoration: underline;
  }
}

.bottom-header {
  &__container {
    position: relative;
    font-size: 13px;
    padding: 20px 15px;
  }

  &__body {
    display: grid;
    grid-template: 1fr / minmax(auto, 33.3333%) minmax(auto, 710px) minmax(auto, 200px);
    align-items: center;
    gap: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;

    @media (max-width: 767.98px) {
      gap: 15px;
    }
  }

  &__logo {
    max-width: 80px;

    img {
      width: 100%;
      object-fit: cover;
    }

    @media (max-width: 991.98px) {
      max-width: 60px;
    }
  }

  &__contacts {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    align-items: start;
    @include respValue('gap', 60, 20, 1);

    @media (max-width: 991.98px) {
      grid-template: 1fr / repeat(2, 1fr);
    }

    @media (max-width: 767.98px) {
      grid-template: 1fr / 1fr;
    }
  }

  &__location,
  &__email,
  &__call {
    display: grid;
    grid-template: 1fr / auto 1fr;
    align-items: start;
    gap: 8px;

    .icon-location,
    .icon-email,
    .icon-call {
      align-items: flex-start;
      color: $orangeColor;
      font-size: 30px;
    }
  }

  &__location {
    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &__location-text {
    color: $grayColor;
  }

  &__email {
    align-items: center;

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  &__email-text {
    font-weight: 600;
    @include respValue('font-size', 15, 13, 1);
  }

  &__call {
    @media (max-width: 502px) {
      align-items: center;
    }
  }

  &__call-text {
    display: grid;
    gap: 6px;
  }

  &__call-number {
    font-weight: 600;
    @include respValue('font-size', 15, 13, 1);
  }

  &__call-time {
    color: $grayColor;

    @media (max-width: 502px) {
      display: none;
    }
  }

  &__button {
  }

  &__menu {
    position: sticky;
    top: 0;
    // @media (max-width: 767.98px) {
    //   position: fixed;
    //   width: 100%;
    //   height: 100%;
    //   top: -100%;
    //   left: 0;
    //   background: $blackColor;
    //   padding: 150px 0 0 0;
    //   overflow: auto;
    //   transition: all 0.3s linear;

    //   &.active {
    //     top: 0;
    //   }
    // }
  }
}

.menu {
  transition: all 0.1s linear;
  padding: 5px 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }

  &__item {
    position: relative;

    &_logo {
      max-width: 60px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__logo {
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;

    &.active {
      .menu__button-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__button-text {
  }

  &__button-arrow {
    transition: all 0.2s linear;
  }

  &__links {
    display: none;
    position: absolute;
    width: 150px;
    top: 20px;
    left: 0;
    background: #dfdede;
    border-radius: 2px;
    padding: 5px;

    > *:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }

  &__sub-link {
    display: block;
    font-size: 14px;
  }

  &__link {
    font-weight: 500;
    font-size: 15px;
  }
}

.search-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  input {
    width: 100%;
    height: 100%;
    background: #dfdede;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 5px 30px 5px 5px;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .search-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 3;

    &.active {
      width: 25px;
      height: 25px;
      transform: translateY(-50%) rotate(360deg);
      font-size: 20px;
    }
  }

  .cancel-btn {
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;

    &.active {
      right: 180px;
      transform: translateY(-50%) rotate(360deg);
      opacity: 1;
      visibility: visible;
    }
  }

  &.active {
    max-width: 180px;
    width: 100%;
  }
}
