.reviews {
  &__body {
    position: relative;
  }

  &__header {
    @media (max-width: 767.98px) {
      text-align: center;
    }
  }

  &__arrow-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 0 0 0;
  }

  &__btn-left,
  &__btn-right {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.swiper-button-disabled {
  color: $grayColor;
}
